*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.save{
    margin-top: 10px;
}

.customContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    background: #121214;
}
.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
}

.forms.show-recover .form.recover{
    opacity: 1;
    pointer-events: auto;
}


.forms.show-recover .form.login{
    opacity: 0;
    pointer-events: none;
}


.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    background: #1B1B1E;
    color: white;
    outline: none;
    padding: 0 15px;
	border-radius: 15px;
}

.field input:focus{
    border-bottom-width: 1px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
	border-radius: 15px;
}

.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #white;
}
.titleText{
    color: white;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.form a{
    color: white;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}

.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }

}